# Игнорируем файл в любой директории проекта
data_lesson2_housing.csv
.gitignore

# Игнорируем директорию в любой директории проекта
# node_modules/

# Игнорируем каталог в корне рабочей директории
/.idea/
/.ipynb_checkpoints/
/.venv/
/original_data

# Игнорируем все файлы с расширением ipynb в директории /
/*.ipynb

# Но не игнорируем
!hw2_view.ipynb


# При этом не игнорируются такие же файлы внутри любого вложенного каталога в db
# Например, /db/something/lala.sqlite3
# Игнорировать все .txt файлы в каталоге doc/ на всех уровнях вложенности
# doc/**/*.txt